body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #FFB75E 0%, #ED8F03 50%, #87CEEB 100%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background: #FFF4E6;
    height: 4%;
    width: 95%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    height: 96%;
}

#prompt-code-agent{
    padding: 20px;
    height: 80%;
    width: 95%;
    border-radius: 10px;
    background: #FFF4E6;
    border: 2px solid orange;
    margin-bottom: 10px;
}

button{
    height: 50px;
    width: 100px;
    align-self: center;
    border-radius: 20px;
}

button:hover{
    color: #ED8F03;
    background: #FFF4E6;
    cursor: pointer;
    border: 3px solid red;
    transform: scale(1.1);
}

.success-box {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.error-box {
    background-color: #f44336;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}